<%- include('../includes/head.ejs') %>
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <main>
        <div class="container">
         <div class="row">
            <div id="Dashboard" class="col-md-8 col-md-offset-2">
                <span class="data" id="data"></span>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </main>
    <%- include('../includes/end.ejs') %>
