<%- include('includes/head.ejs') %>
</head>

<body>
    <div class="centered">
        <h1><%=message%></h1>
    <a href="/"
        class="my-btn">Back</a>
    </div>
<%- include('includes/end.ejs') %>